apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base

patches:
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LMCACHE_LOCAL_DISK
          value: "file:///kv-store-disk/"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LMCACHE_EXTRA_CONFIG
          value: "{\"use_odirect\":\"True\"}"

  # LMCACHE_MAX_LOCAL_DISK_SIZE should be <= Backend storage (like Lustre) size
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LMCACHE_MAX_LOCAL_DISK_SIZE
          value: "18000.0"

# TODO: Remove the below patch once lmcache-connector image is switched to use official llm-d image
# llm-d image issue is tracked in https://github.com/llm-d/llm-d/issues/663
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LD_LIBRARY_PATH
          value: "/usr/local/nvidia/lib64"

  # Add PVC volume
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/volumes/-
        value:
          name: kv-store-disk
          persistentVolumeClaim:
            claimName: lustre-pvc

  # Mount PVC into container
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/volumeMounts/-
        value:
          name: kv-store-disk
          mountPath: /kv-store-disk