apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: qwen-model-32b
spec:
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: cpu-offloading-inference-gateway
  rules:
    - backendRefs:
      - group: inference.networking.k8s.io
        kind: InferencePool
        name: qwen-model-32b
        port: 8000
        weight: 1
      # Inference requests can take a very long time to finish.
      # Explicitly setting to 0s to disable timeout on the HTTPRoute.
      timeouts:
        backendRequest: 0s
        request: 0s
      matches:
      - path:
          type: PathPrefix
          value: /
      
