environments:
  istio: &I
    values:
      - ../prereq/gateway-provider/common-configurations/istio.yaml
  istioBench: &IB
    values:
      - ../prereq/gateway-provider/common-configurations/istio.yaml
      - ../prereq/gateway-provider/common-configurations/benchmarking.yaml
  kgateway: &KG
    values:
      - ../prereq/gateway-provider/common-configurations/kgateway.yaml
  gke: &GKE
    values:
      - ../prereq/gateway-provider/common-configurations/gke.yaml
  xpu: &XPU
    values:
      - ../prereq/gateway-provider/common-configurations/istio.yaml
  aks: &AKS
    <<: *IB
  default:
    <<: *IB

---

{{- $ns := .Namespace | default "llm-d-pd" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "pd" -}}

repositories:
  - name: llm-d-modelservice
    url: https://llm-d-incubation.github.io/llm-d-modelservice/
  - name: llm-d-infra
    url: https://llm-d-incubation.github.io/llm-d-infra/

releases:
  - name: {{ printf "infra-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-infra/llm-d-infra
    version: v1.3.3
    installed: true
    labels:
      type: infrastructure
      kind: inference-stack
    values:
      - gateway:
          {{ .Environment.Values.gateway | toYaml | nindent 10 }}

  - name: {{ printf "gaie-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: oci://registry.k8s.io/gateway-api-inference-extension/charts/inferencepool
    version: v1.0.1
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
    values:
      - gaie-pd/values.yaml
    # Apply provider name if on GKE
    {{- if or (eq .Environment.Name "gke") (eq .Environment.Name "gke_tpu") }}
      - provider:
          name: {{ .Environment.Values.provider.name }}
        inferencePool:
          apiVersion: {{ .Environment.Values.inferencePool.apiVersion }}
        inferenceExtension:
          monitoring:
            gke:
              enabled: true
            prometheus:
              enabled: false
    {{- end }}
    # Apply destination rule for anything istio
    {{- if or (eq .Environment.Name "istio") (eq .Environment.Name "default") (eq .Environment.Name "istioBench") (eq .Environment.Name "aks") }}
      - provider:
          name: {{ .Environment.Values.provider.name }}
      - istio:
        {{ .Environment.Values.istio | toYaml | nindent 10 }}
      - istio:
          destinationRule:
            host: {{ printf "gaie-%s-epp.%s.svc.cluster.local" $rn $ns | quote }}
    {{- end }}
    # Apply log level only in bench setting
    {{- if or (eq .Environment.Name "istioBench") (eq .Environment.Name "default") }}
      - inferenceExtension:
          flags:
            {{ .Environment.Values.inferenceExtension.flags | toYaml | nindent 12 }}
    {{- end }}
    labels:
      kind: inference-stack

  - name: {{ printf "ms-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.2.11
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
      - {{ printf "gaie-%s" $rn | quote }}
    values:
    {{- if eq .Environment.Name "xpu" }}
      - ms-pd/values_xpu.yaml
    {{- else }}
      - ms-pd/values.yaml
    {{- end }}
    {{- if or (eq .Environment.Name "istioBench") (eq .Environment.Name "default") }}
      - routing:
          {{ .Environment.Values.routing | toYaml | nindent 10 }}
    {{- end }}
    {{- if eq .Environment.Name "aks" }}
      # Set pod annotations for ulimits on AKS (16GiB memlock)
      - decode:
          podAnnotations:
            ulimits.nri.containerd.io/container.vllm: |
              - type: memlock
                hard: 17179869184
                soft: 17179869184
        prefill:
          podAnnotations:
            ulimits.nri.containerd.io/container.vllm: |
              - type: memlock
                hard: 17179869184
                soft: 17179869184
    {{- end }}
    set:
    # apply release name derived values
      - name: "routing.inferencePool.name"
        value: {{ printf "gaie-%s" $rn | quote }}
      - name: "routing.parentRefs[0].name"
        value: {{ printf "infra-%s-inference-gateway" $rn | quote }}
    {{- if eq .Environment.Name "gke" }}
      - name: 'decode.containers[0].resources.limits.rdma/ib'
        value: "null"
      - name: 'decode.containers[0].resources.requests.rdma/ib'
        value: "null"
      - name: 'prefill.containers[0].resources.limits.rdma/ib'
        value: "null"
      - name: 'prefill.containers[0].resources.requests.rdma/ib'
        value: "null"
      - name: "decode.monitoring.podmonitor.enabled"
        value: false
      - name: "prefill.monitoring.podmonitor.enabled"
        value: false
    {{- end }}
    labels:
      kind: inference-stack
