multinode: false

# Configure accelerator type for Google TPU
accelerator:
  type: google

modelArtifacts:
  uri: "hf://meta-llama/Llama-3.3-70B-Instruct"
  size: 200Gi
  authSecretName: "llm-d-hf-token"
  name: "meta-llama/Llama-3.3-70B-Instruct"

routing:
  servicePort: 8000
  proxy:
    image: ghcr.io/llm-d/llm-d-routing-sidecar:v0.4.0
    connector: nixlv2
    secure: false

decode:
  parallelism:
    tensor: 8
  create: true
  replicas: 1
  extraConfig:
    nodeSelector:
      cloud.google.com/gke-tpu-topology: "2x4"
      cloud.google.com/gke-tpu-accelerator: "tpu-v6e-slice"
  monitoring:
    podmonitor:
      enabled: true
      portName: "vllm" # decode vLLM service port (from routing.proxy.targetPort)
      path: "/metrics"
      interval: "30s"
  containers:
  - name: "vllm"
    image: vllm/vllm-tpu:v0.11.1
    modelCommand: vllmServe
    args:
      # Keep tensor-parallelism as the first set of arguments
      - "--tensor-parallel-size"
      - "8"
      - "--kv-transfer-config"
      - '{"kv_connector":"TPUConnector", "kv_connector_module_path" : "tpu_inference.distributed.tpu_connector", "kv_role":"kv_both", "kv_ip" : "$(POD_IP)"}'
      - "--disable-uvicorn-access-log"
      - "--max-model-len"
      - "32000"
    env:
      - name: POD_IP
        valueFrom:
          fieldRef:
            fieldPath: status.podIP
      - name: VLLM_LOGGING_LEVEL
        value: DEBUG
    ports:
      - containerPort: 8200
        name: vllm
        protocol: TCP
      - containerPort: 5557
        name: nixl
        protocol: TCP
    resources:
      limits:
        memory: 64Gi
        cpu: "16"
        # note: TPU resources get controlled by parallelism + accelerators above
      requests:
        memory: 64Gi
        cpu: "16"
        # note: TPU resources get controlled by parallelism + accelerators above
    mountModelVolume: true
    volumeMounts:
    - name: metrics-volume
      mountPath: /.config
    - name: shm
      mountPath: /dev/shm
    - name: torch-compile-cache
      mountPath: /.cache
    startupProbe:
      httpGet:
        path: /health
        port: vllm
      initialDelaySeconds: 15
      periodSeconds: 30
      timeoutSeconds: 5
      failureThreshold: 120
    livenessProbe:
      httpGet:
        path: /health
        port: vllm
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /v1/models
        port: vllm
      periodSeconds: 5
      timeoutSeconds: 2
      failureThreshold: 3
  volumes:
  - name: metrics-volume
    emptyDir: {}
  - name: shm
    emptyDir:
      medium: Memory
      sizeLimit: "16Gi"
  - name: torch-compile-cache
    emptyDir: {}

prefill:
  parallelism:
    tensor: 8
  create: true
  replicas: 2
  extraConfig:
    nodeSelector:
      cloud.google.com/gke-tpu-topology: "2x4"
      cloud.google.com/gke-tpu-accelerator: "tpu-v6e-slice"
  monitoring:
    podmonitor:
      enabled: true
      portName: "metrics" # prefill vLLM service port (from routing.servicePort)
      path: "/metrics"
      interval: "30s"
  containers:
  - name: "vllm"
    image: vllm/vllm-tpu:v0.11.1
    modelCommand: vllmServe
    args:
      - "--tensor-parallel-size"
      - "8"
      - "--kv-transfer-config"
      - '{"kv_connector":"TPUConnector", "kv_connector_module_path" : "tpu_inference.distributed.tpu_connector", "kv_role":"kv_producer", "kv_ip" : "$(POD_IP)"}'
      - "--disable-uvicorn-access-log"
      - "--max-model-len"
      - "32000"
    env:
      - name: POD_IP
        valueFrom:
          fieldRef:
            fieldPath: status.podIP
      - name: VLLM_LOGGING_LEVEL
        value: DEBUG
    ports:
      - containerPort: 8000
        name: metrics
        protocol: TCP
      - containerPort: 5557
        name: nixl
        protocol: TCP
    resources:
      limits:
        memory: 64Gi
        cpu: "16"
        # note: TPU resources get controlled by parallelism + accelerators above
      requests:
        memory: 64Gi
        cpu: "16"
       # note: TPU resources get controlled by parallelism + accelerators above
    mountModelVolume: true
    volumeMounts:
    - name: metrics-volume
      mountPath: /.config
    - name: shm
      mountPath: /dev/shm
    - name: torch-compile-cache
      mountPath: /.cache
    startupProbe:
      httpGet:
        path: /health
        port: vllm
      initialDelaySeconds: 15
      periodSeconds: 30
      timeoutSeconds: 5
      failureThreshold: 120
    livenessProbe:
      httpGet:
        path: /health
        port: vllm
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /v1/models
        port: vllm
      periodSeconds: 5
      timeoutSeconds: 2
      failureThreshold: 3
  volumes:
  - name: metrics-volume
    emptyDir: {}
  - name: shm
    emptyDir:
      medium: Memory
      sizeLimit: "16Gi"
  - name: torch-compile-cache
    emptyDir: {}
