apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: lustre-class
provisioner: lustre.csi.storage.gke.io
volumeBindingMode: Immediate
reclaimPolicy: Delete
parameters:
  network: $NETWORK_NAME # Add your network name here
  perUnitStorageThroughput: "1000"
allowedTopologies:
- matchLabelExpressions:
  - key: topology.gke.io/zone
    values:
    - $LOCATION # Add the location where you want to provision lustre instance.
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lustre-pvc
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 18000Gi # Range from 18000Gi to 954000Gi, must be in multiples of 9000 Gi
  storageClassName: lustre-class
---
# This might not be required if the llm-d image you are using has monitoring setup. This is required though for the llm-d image used in this example. 
apiVersion: monitoring.googleapis.com/v1
kind: PodMonitoring
metadata:
  name: app-monitor
spec:
  selector:
    matchLabels:
      llm-d.ai/inferenceServing: "true"
  endpoints:
  - port: 8000
    interval: 15s