apiVersion: apps/v1
kind: Deployment
metadata:
  name: qwen-model-32b
spec:
  replicas: 8
  selector:
    matchLabels:
      app: qwen-model-32b
  template:
    metadata:
      labels:
        app: qwen-model-32b
    spec:
      containers:
        - name: vllm
          image: "lmcache/vllm-openai:v0.3.5"
          imagePullPolicy: IfNotPresent
          command: ["/opt/venv/bin/vllm"]
          args:
          - "serve"
          - "Qwen/Qwen3-32B"
          - "--tensor-parallel-size"
          - "2"
          - "--port"
          - "8000"
          - "--max-num-seq"
          - "1024"
          - "--compilation-config"
          - '{"cudagraph_mode": "PIECEWISE"}'
          - "--kv-transfer-config"
          - '{"kv_connector":"LMCacheConnectorV1","kv_role":"kv_both"}'
          - "--enable_prefix_caching"
          env:
            - name: VLLM_USE_V1
              value: "1"
            - name: PORT
              value: "8000"
            - name: HUGGING_FACE_HUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: llm-d-hf-token
                  key: HF_TOKEN
            - name: VLLM_ALLOW_RUNTIME_LORA_UPDATING
              value: "true"
            - name: LMCACHE_MAX_LOCAL_CPU_SIZE
              value: "200.0"
            - name: LMCACHE_INTERNAL_API_SERVER_ENABLED
              value: "true"
          ports:
            - containerPort: 8000
              name: http
              protocol: TCP
            - containerPort: 7000
          lifecycle:
            preStop:
              sleep:
                seconds: 30
          livenessProbe:
            httpGet:
              path: /health
              port: http
              scheme: HTTP
            periodSeconds: 1
            successThreshold: 1
            failureThreshold: 5
            timeoutSeconds: 1
          readinessProbe:
            httpGet:
              path: /health
              port: http
              scheme: HTTP
            periodSeconds: 1
            successThreshold: 1
            failureThreshold: 1
            timeoutSeconds: 1
          startupProbe:
            failureThreshold: 600
            initialDelaySeconds: 2
            periodSeconds: 1
            httpGet:
              path: /health
              port: http
              scheme: HTTP
          resources:
            limits:
              nvidia.com/gpu: 2
            requests:
              nvidia.com/gpu: 2
              memory: 400G
          volumeMounts:
            - mountPath: /data
              name: data
            - mountPath: /dev/shm
              name: shm
      restartPolicy: Always

      enableServiceLinks: false

      terminationGracePeriodSeconds: 130

      volumes:
        - name: data
          emptyDir: {}
        - name: shm
          emptyDir:
            medium: Memory