environments:
  istio: &I
    values:
      - ../prereq/gateway-provider/common-configurations/istio.yaml
  kgateway: &KG
    values:
      - ../prereq/gateway-provider/common-configurations/kgateway.yaml
  gke: &GKE
    values:
      - ../prereq/gateway-provider/common-configurations/gke.yaml
  default:
    <<: *I

---

{{- $ns := .Namespace | default "llm-d-precise" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "kv-events" -}}

repositories:
  - name: llm-d-modelservice
    url: https://llm-d-incubation.github.io/llm-d-modelservice/
  - name: llm-d-infra
    url: https://llm-d-incubation.github.io/llm-d-infra/

releases:
  - name: {{ printf "gaie-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: oci://registry.k8s.io/gateway-api-inference-extension/charts/inferencepool
    version: v1.0.1-rc.1
    installed: true
    values:
      - gaie-kv-events/values-estimate.yaml
    {{- if eq .Environment.Name "gke" }}
    set:
      - name: "provider.name"
        value: gke
      - name: "inferenceExtension.monitoring.gke.enabled"
        value: true
    {{- end }}
    labels:
      kind: inference-stack

  - name: {{ printf "ms-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.2.7
    installed: true
    needs:
      - {{ printf "gaie-%s" $rn | quote }}
    values:
      - ms-kv-events/values.yaml
    set:
    # apply release name derived values
      - name: "routing.inferencePool.name"
        value: {{ printf "gaie-%s" $rn | quote }}
      - name: "routing.parentRefs[0].name"
        value: {{ printf "infra-%s-inference-gateway" $rn | quote }}
    labels:
      kind: inference-stack
