apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Use the CPU offloading base to form a tiered cache strcuture: HBM - CPU - storage.
  - ../../../../cpu/manifests/vllm/lmcache-connector
patches:
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LMCACHE_LOCAL_DISK
          value: "file:///mnt/files-storage/"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LMCACHE_EXTRA_CONFIG
          value: "{\"use_odirect\":\"True\"}"

  # LMCACHE_MAX_LOCAL_DISK_SIZE should be <= Backend storage (like Lustre) size
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: LMCACHE_MAX_LOCAL_DISK_SIZE
          value: "18000.0"

  # Add PVC volume
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/volumes/-
        value:
          name: files-storage
          persistentVolumeClaim:
            claimName: llm-d-kv-cache-storage

  # Mount PVC into container
  - target:
      kind: Deployment
      name: llm-d-model-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/volumeMounts/-
        value:
          name: files-storage
          mountPath: /mnt/files-storage
