environments:
  istio: &I
    values:
      - ../prereq/gateway-provider/common-configurations/istio.yaml
  kgateway: &KG
    values:
      - ../prereq/gateway-provider/common-configurations/kgateway.yaml
  agentgateway: &AG
    values:
      - ../prereq/gateway-provider/common-configurations/agentgateway.yaml
  gke: &GKE
    values:
      - ../prereq/gateway-provider/common-configurations/gke.yaml
  gke_tpu: &GKETPU
    <<: *GKE
  standalone: &STANDALONE
    values:
      - provider:
          name: none
  amd: &AMD
    <<: *I
  xpu: &XPU
    <<: *I
  gaudi: &GAUDI
    <<: *I
  cpu: &CPU
    <<: *I
  digitalocean: &DO
    <<: *I
  default: &DEFAULT
    <<: *I

---

{{- $ns := .Namespace | default "llm-d-inference-scheduling" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "inference-scheduling" -}}

repositories:
  - name: llm-d-modelservice
    url: https://llm-d-incubation.github.io/llm-d-modelservice/
  - name: llm-d-infra
    url: https://llm-d-incubation.github.io/llm-d-infra/

releases:
{{- if ne .Environment.Name "standalone" }}
  - name: {{ printf "infra-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-infra/llm-d-infra
    version: v1.3.6
    installed:  true
    labels:
      type: infrastructure
      kind: inference-stack
    values:
      - gateway:
          {{ .Environment.Values.gateway | toYaml | nindent 10 }}
{{- end }}

  - name: {{ printf "gaie-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: oci://registry.k8s.io/gateway-api-inference-extension/charts/inferencepool
    version: v1.3.0
    installed: true
    needs:
      {{- if ne .Environment.Name "standalone" }}
      - {{ printf "infra-%s" $rn | quote }}
      {{- end }}
    values:
      {{- if ne .Environment.Name "standalone" }}
      - gaie-inference-scheduling/values.yaml
      {{- else }}
      - standalone-inference-scheduling/values.yaml
      {{- end }}
    # Apply provider name if on GKE
    {{- if or (eq .Environment.Name "gke") (eq .Environment.Name "gke_tpu") }}
      - provider:
          name: {{ .Environment.Values.provider.name }}
        inferenceExtension:
          monitoring:
            gke:
              enabled: true
            prometheus:
              enabled: false
    {{- end }}
    # Apply destination rule for anything istio
    {{- if or (eq .Environment.Name "istio") (eq .Environment.Name "default") (eq .Environment.Name "amd") (eq .Environment.Name "xpu") (eq .Environment.Name "gaudi") (eq .Environment.Name "cpu") }}
      - provider:
          name: {{ .Environment.Values.provider.name }}
          istio:
            {{ .Environment.Values.provider.istio | toYaml | nindent 12 }}
      - provider:
          istio:
            destinationRule:
              host: {{ printf "gaie-%s-epp.%s.svc.cluster.local" $rn $ns | quote }}
    {{- end }}
    labels:
      kind: inference-stack

  - name: {{ printf "ms-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.4.5
    installed: true
    needs:
      {{- if ne .Environment.Name "standalone" }}
      - {{ printf "infra-%s" $rn | quote }}
      {{- end }}
      - {{ printf "gaie-%s" $rn | quote }}
    values:
    {{- if eq .Environment.Name "gke_tpu" }}
      - ms-inference-scheduling/values_tpu.yaml
    {{- else if eq .Environment.Name "amd" }}
      - ms-inference-scheduling/values_amd.yaml
    {{- else if eq .Environment.Name "xpu" }}
      - ms-inference-scheduling/values_xpu.yaml
    {{- else if eq .Environment.Name "gaudi" }}
      - ms-inference-scheduling/values-gaudi.yaml
    {{- else if eq .Environment.Name "cpu" }}
      - ms-inference-scheduling/values_cpu.yaml
    {{- else if eq .Environment.Name "digitalocean" }}
      - ms-inference-scheduling/digitalocean-values.yaml
    {{- else }}
      - ms-inference-scheduling/values.yaml
    {{- end }}
    set:
    {{- if or (eq .Environment.Name "gke") (eq .Environment.Name "gke_tpu") }}
      - name: "decode.monitoring.podmonitor.enabled"
        value: false
    {{- end }}
    labels:
      kind: inference-stack
