apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
patches:
- target:
    kind: Deployment
    name: llm-d-model-server
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/args/0
      value: |-
        exec vllm serve \
          Qwen/Qwen3-32B \
          --tensor-parallel-size 2 \
          --kv-transfer-config '{"kv_connector":"OffloadingConnector","kv_role":"kv_both","kv_connector_extra_config":{"num_cpu_blocks":41000}}' \
          --port 8000 \
          --max-num-seq 1024
- target:
    kind: Deployment
    name: llm-d-model-server
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/resources
      value:
        limits:
          nvidia.com/gpu: 2
        requests:
          nvidia.com/gpu: 2
          memory: 400G
