environments:
  gcp-pubsub:
  redis:

---

releases:
  - name: async-processor
    namespace: {{ .Namespace | default "llm-d-async" }}
    chart: oci://ghcr.io/llm-d-incubation/charts/async-processor
    version: 0.6.1
    values:
      - values.yaml.gotmpl
    {{- if eq .Environment.Name "gcp-pubsub" }}
      - gcp-pubsub/values.yaml.gotmpl
    {{- else if eq .Environment.Name "redis" }}
      - redis/values.yaml.gotmpl
    {{- end }}