ap:
  igwBaseURL: {{ env "IGW_BASE_URL" | default "http://infra-inference-scheduling-inference-gateway-istio.llm-d-inference-scheduler.svc.cluster.local:80" | quote }}
  image:
    repository: ghcr.io/llm-d-incubation/llm-d-async
    tag: v0.6.1
  imagePullPolicy: Always

  metrics:
    enabled: true
    port: 9090
    secure: false

  # Default implementations are disabled here; pick one in the subdirectories or environment
  gcpPubSub:
    enabled: false
  
  redis:
    enabled: false
