environments:
  istio: &I
    values:
      - ../prereq/gateway-provider/common-configurations/istio.yaml
  kgateway: &KG
    values:
      - ../prereq/gateway-provider/common-configurations/kgateway.yaml
  wva-only: &WVA_ONLY
    values:
      - workload-autoscaling/values.yaml
  default: &DEFAULT
    <<: *I

---
{{- $certdir := (env "TMPDIR") | default "/tmp" -}}
{{- $isWvaOnly := eq .Environment.Name "wva-only" -}}
{{- $llmdReleaseName := env "LLMD_RELEASE_NAME_POSTFIX" | default "inference-scheduling" -}}
{{- $llmdNamespaceEnv := env "LLMD_NAMESPACE" | default "llm-d-inference-scheduler" -}}
{{- $rn := (env "RELEASE_NAME_POSTFIX") | default "workload-autoscaler" -}}
{{- $ns := .Namespace | default "llm-d-autoscaler" -}}

repositories:
  - name: llm-d-modelservice
    url: https://llm-d-incubation.github.io/llm-d-modelservice/
  - name: llm-d-infra
    url: https://llm-d-incubation.github.io/llm-d-infra/

releases:
{{- if not $isWvaOnly }}
  - name: {{ printf "infra-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-infra/llm-d-infra
    version: v1.3.6
    installed: true
    labels:
      type: infrastructure
      kind: inference-stack
    values:
      - gateway:
          {{ .Environment.Values.gateway | toYaml | nindent 10 }}

  - name: {{ printf "gaie-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: oci://registry.k8s.io/gateway-api-inference-extension/charts/inferencepool
    version: v1.3.0
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
    values:
      - gaie-workload-autoscaling/values.yaml
    # Apply destination rule for anything istio
    {{- if or (eq .Environment.Name "istio") (eq .Environment.Name "default") }}
      - provider:
          name: {{ .Environment.Values.provider.name }}
          istio:
          {{ .Environment.Values.provider.istio | toYaml | nindent 12 }}
      - provider:
          istio:
            destinationRule:
              host: {{ printf "gaie-%s-epp.%s.svc.cluster.local" $rn $ns | quote }}
      - inferenceExtension:
          flags:
            {{ .Environment.Values.inferenceExtension.flags | toYaml | nindent 12 }}
    {{- end }}
    labels:
      kind: inference-stack

  - name: {{ printf "ms-%s" $rn | quote }}
    namespace: {{ $ns }}
    chart: llm-d-modelservice/llm-d-modelservice
    version: v0.4.5
    installed: true
    needs:
      - {{ printf "infra-%s" $rn | quote }}
      - {{ printf "gaie-%s" $rn | quote }}
    values:
      - ms-workload-autoscaling/values.yaml
    {{- if or (eq .Environment.Name "istio") (eq .Environment.Name "default") }}
      - routing:
          {{ .Environment.Values.routing | toYaml | nindent 10 }}
    {{- end }}
    labels:
      kind: inference-stack
{{- end }}

  - name: workload-variant-autoscaler
    namespace: {{ if $isWvaOnly }}{{ env "WVA_NAMESPACE" | default "llm-d-autoscaler" }}{{ else }}{{ $ns }}{{ end }}
    chart: oci://ghcr.io/llm-d-incubation/workload-variant-autoscaler/workload-variant-autoscaler
    version: "~0.5.0"
    installed: true
    {{- if not $isWvaOnly }}
    needs:
      - {{ printf "ms-%s" $rn | quote }}
    {{- end }}
    labels:
      kind: autoscaling
    values:
      - workload-autoscaling/values.yaml
      - wva:
          prometheus:
            tls:
              insecureSkipVerify: true
              caCertPath: ""
            caCert: |
{{ readFile (printf "%s/prometheus-ca.crt" $certdir) | indent 14 }}
    set:
      - name: va.accelerator
        value: "L40S"
      {{- if not $isWvaOnly }}
      - name: llmd.modelID
        value: "Qwen/Qwen3-0.6B"
      {{- end }}
      - name: vllmService.enabled
        value: true
      - name: vllmService.nodePort
        value: 30000
      - name: llmd.namespace
        value: {{ if $isWvaOnly }}{{ $llmdNamespaceEnv | quote }}{{ else }}{{ $ns | quote }}{{ end }}
      - name: llmd.modelName
        value: {{ if $isWvaOnly }}{{ printf "ms-%s-llm-d-modelservice" $llmdReleaseName | quote }}{{ else }}{{ printf "ms-%s-llm-d-modelservice" $rn | quote }}{{ end }}
      - name: modelProfile
        value: "default"
      - name: sloClassRef.name
        value: "service-classes-config"
