# This values.yaml file creates the resources for Qwen/Qwen3-0.6B
multinode: false

modelArtifacts:
  uri: "hf://Qwen/Qwen3-Coder-480B-A35B-Instruct-FP8"
  size: 700Gi
  authSecretName: "llm-d-hf-token"
  name: Qwen/Qwen3-Coder-480B-A35B-Instruct-FP8

routing:
  proxy:
    enabled: false # removes sidecar from deployment - no PD in inference scheduling
    targetPort: 8000 # controlls vLLM port to matchup with sidecar if deployed

accelerator:
  type: "google"

decode:
  parallelism:
    tensor: 8
  create: true
  replicas: 2
  extraConfig:
    nodeSelector:
      cloud.google.com/gke-tpu-topology: "2x2x1"
      cloud.google.com/gke-tpu-accelerator: "tpu7x"
  monitoring:
    podmonitor:
      enabled: true
      portName: "vllm"  # decode vLLM service port (from routing.proxy.targetPort)
      path: "/metrics"
      interval: "30s"
  containers:
  - name: "vllm"
    image: "vllm/vllm-tpu:nightly-ironwood-20260113-8424c78-df7e127"
    modelCommand: vllmServe
    args:
        - --data-parallel-size=1
        - --max-model-len=9216
        - --max-num-batched-tokens=1028
        - --max-num-seqs=128
        - --kv-cache-dtype=fp8
        - --async-scheduling
        - --gpu-memory-utilization=0.93
    ports:
      - containerPort: 8000
        name: vllm
        protocol: TCP
    resources:
      limits:
        memory: 64Gi
        cpu: "16"
        google.com/tpu: 4
      requests:
        memory: 64Gi
        cpu: "16"
        google.com/tpu: 4
    mountModelVolume: true
    volumeMounts:
    - name: metrics-volume
      mountPath: /.config
    - name: torch-compile-cache
      mountPath: /.cache
    startupProbe:
      httpGet:
        path: /v1/models
        port: vllm
      initialDelaySeconds: 15
      periodSeconds: 30
      timeoutSeconds: 5
      failureThreshold: 60
    livenessProbe:
      httpGet:
        path: /health
        port: vllm
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /v1/models
        port: vllm
      periodSeconds: 5
      timeoutSeconds: 2
      failureThreshold: 3
  volumes:
  - name: metrics-volume
    emptyDir: {}
  - name: torch-compile-cache
    emptyDir: {}
prefill:
  create: false
