multinode: false

modelArtifacts:
  uri: "hf://Qwen/Qwen3-32B"
  name: "Qwen/Qwen3-32B"
  size: 80Gi
  authSecretName: "llm-d-hf-token"

routing:
  proxy:
    enabled: false # removes sidecar from deployment - no PD in inference scheduling
    targetPort: 8000 # controlls vLLM port to matchup with sidecar if deployed

accelerator: # controlls specialized hardware Type
  type: nvidia 

decode:
  create: true
  replicas: 8
  monitoring:
    podmonitor:
      enabled: true
      portName: "vllm"  # decode vLLM service port (from routing.proxy.targetPort)
      path: "/metrics"
      interval: "30s"
  containers:
  - name: "vllm"
    image: ghcr.io/llm-d/llm-d-cuda:v0.4.0
    modelCommand: vllmServe
    args:
      - "--disable-uvicorn-access-log"
      - "--tensor-parallel-size=2"
    ports:
      - containerPort: 8000
        name: vllm
        protocol: TCP
    resources:
      limits:
        nvidia.com/gpu: "2"
      requests:
        nvidia.com/gpu: "2"
    mountModelVolume: true
    volumeMounts:
    - name: metrics-volume
      mountPath: /.config
    - name: torch-compile-cache
      mountPath: /.cache
    startupProbe:
      httpGet:
        path: /v1/models
        port: vllm
      initialDelaySeconds: 15
      periodSeconds: 30
      timeoutSeconds: 5
      failureThreshold: 60
    livenessProbe:
      httpGet:
        path: /health
        port: vllm
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
    readinessProbe:
      httpGet:
        path: /v1/models
        port: vllm
      periodSeconds: 5
      timeoutSeconds: 2
      failureThreshold: 3
  volumes:
  - name: metrics-volume
    emptyDir: {}
  - name: torch-compile-cache
    emptyDir: {}

# PD disabled in this example
prefill:
  create: false
