ap:
  messageQueueImpl: "redis-sortedset"
  redis:
    enabled: true
    host: {{ env "REDIS_HOST" | default "redis-master.redis.svc.cluster.local" | quote }}
    port: {{ env "REDIS_PORT" | default "6379" | int }}
    requestPathURL: "/v1/completions"
    requestQueueName: {{ env "REDIS_REQUEST_QUEUE_NAME" | default "request-sortedset" | quote }}
    resultQueueName: {{ env "REDIS_RESULT_QUEUE_NAME" | default "result-list" | quote }}
    auth:
       enabled: {{ env "REDIS_AUTH_ENABLED" | default "false" }}
       secretName: {{ env "REDIS_SECRET_NAME" | default "redis-creds" | quote }}
{{- if env "REDIS_USERNAME_KEY" }}
       usernameKey: {{ env "REDIS_USERNAME_KEY" | quote }}
{{- end }}
{{- if env "REDIS_PASSWORD_KEY" }}
       passwordKey: {{ env "REDIS_PASSWORD_KEY" | quote }}
{{- end }}
